name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@master
        with:
          github_user_name: mikeagubi
          svg_out_path: assets/github-contribution-grid-snake.svg

      - uses: EndBug/add-and-commit@v9
        with:
          message: "Generate classic snake"
          add: "assets/*.svg"
